.category-buttons{
	display: block;
    margin-left:0;
    margin-right:0t;
    margin-top: 5px;
    margin-bottom:5px;
    background-color:lightblue;
    border:none;
    text-align: center;
    width: 100%;
    overflow: hidden;
    font-size: 9pt;
    min-width: 70px;
    height:100%;
}

.category-buttons:hover{
    background-color:lightpink;
}
.category-buttons:active{
    background-color:red;
}

.category-name{
    text-align:center;
    margin:2px;
}
