.media-grid-container{
	display: grid;
	grid-template-columns: auto auto;
	grid-column-gap: 20px;
}

.media-grid-item{
	background-color: lightblue;
}

.text{
	grid-column: 1;

}
.image{
	grid-column: 2;
}
