.text {

	grid-column: 3;
    grid-row:3;
	padding: 2%;
    white-space:pre-wrap;
    text-align:center;
    padding:20px;

    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;

}
.image {
	grid-column: 2;
    grid-row: 3;
	background-color: #FCF7F8;
}

#player {
    margin-top:20px;
}

@media only screen and (max-width: 800px) {
	#player {
		/* width: 50%; */
	}
    .text{
        grid-column:2;
        grid-row: 4;
    }
}
