.media-grid-container {
	display: grid;
	grid-template-columns: auto auto;
	grid-column-gap: 20px;
	background-color: #c4c4c4;
    border-radius: 25%;
}

.media-grid-item {
	background-color: lightblue;
	border-radius: 25px;
	padding: 10px;
	background-color: #25283D;
}

.text {
	grid-column: 2;
	padding: 2%;

}
.image {
	grid-column: 1;
	background-color: #FCF7F8;
}

@media only screen and (max-width: 600px) {
	#player {
		width: 50%;
	}
}
