.Files {
    display: flex;
}

.composition-button {
    display: inline;
    margin: auto;
    background-color:lightblue;
    border:none;
    width:100%;
    height:30px;


}
.activeComp{
    background-color:#4F759B;
    color:white;
}

.composition-button:hover{
    background-color:lightpink;
}
.composition-button:active{
    background-color:pink;
}

.composition-button-span {
    margin: auto;
}

.composition-button:first-of-type{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.composition-button:last-of-type{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
