.Files {
    display: flex;
}

.composition-button {
    display: inline;
    margin: auto;
    background-color:var(--button-bg-color);
    border:none;
    width:100%;
    height:30px;


}
.activeComp{
    background-color:var(--button-active-color);
    color:var(--text-color);
}

.composition-button:hover{
    background-color:var(--button-hover-color);
}
.composition-button:active{
    background-color:var(--button-bg-color);
}

.composition-button-span {
    margin: auto;
}

.composition-button:first-of-type{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.composition-button:last-of-type{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
