:root{
    --main-bg-color:  #e0e0e0;
    --accent-color: #66bb6a;

    --button-bg-color: #388e3c;
    --button-active-color: #1b5e20;
    --button-hover-color: #a5d6a7;

    --text-color: white;
}

body{
	background-color:var(--main-bg-color);
    overflow-x: hidden;

}
.App {
	min-width: 98vw;
	min-height: 100vh;
}

svg {
    width: auto;
}

#root{
	width: inherit;
}

.grid-container {
	display: grid;
	grid-template-columns: 10% 40% 1fr;
	grid-template-rows: 15% 15% 15% 1fr;
	background-color: var(--main-bg-color);
	grid-gap: 20px;
	color: var(--text-color);
	min-width: 98vw;
}



.grid-item {
	border-radius: 1em;
	background-color:  var(--main-bg-color);
	margin: 0.5em;
	/* padding: 0.5em; */
	background-color: var(--accent-color);
}

.flex-container {
	display: flex;
	grid-column: 1 / 4;
	grid-row: 1;
}

h1 {
	margin: auto;
}

.category {
	grid-column: 1;
	grid-row: 2 / 4;
	overflow: hidden;
	min-width: 50px;
}

/*put combinations in position in desktop*/
.files.grid-item{
    background:inherit;
    grid-row:2;
    grid-column:2/4;
}

@media only screen and (max-width: 800px) {
	.grid-container {
		grid-template-columns: 30vw 68vw;
		grid-gap: 5px;

	}
	.flex-container{
		width: 99vw;
		font-size: 10pt;
	}
	.category{
		grid-row: 3 / 5;
	}

/*put combination in position in mobile*/
	.files.grid-item{
		grid-column: 1/3;
	}
	.grid-item {
		margin: 0.1em;
	}
}

/*for iPhone Portrait*/
/*@media only screen
	and (min-width: 320px)
	and (max-width: 480px)
	and (-webkit-min-device-pixel-ratio: 2)
	and (orientation: portrait){
		.grid-container{
			background-color: pink;
			width: 100%;
		}

}*/


/* .media {
	grid-column: 2;
	grid-row: 3 / 4;
} */

/* .media-grid-item{
	white-space:pre-wrap;
} */
