

.grid-container{
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto;
	background-color: #90A8C3;
	grid-gap: 20px;
	padding: 20px;
	height: 100vh;
	color: white;


}

.grid-item{
	border-radius: 25px;
	background-color: lightblue;
	padding: 10px;
	background-color: #25283D;
}

.flex-container{
	display: flex;
	background-color: #25283D;
	grid-column: 1 / 4;
}

h1{
	margin: auto;
}

.category{
	grid-column: 1;
	grid-row: 2;
}

.files{
	grid-column: 3;
}